:root {
	--primary-color: #917505;
	--secondary-color:#ecc2f3;
	--accent1-color: #4708b3;
	--accent2-color: #13c5e4;
	--font-family: 'Montserrat', 'Open Sans' sans-serif;
	--heading-font: 'Archivo Black' ;
	}
	
	/* Apply general styling */
	nav {
	display: flex;
	display: flex;
	padding: 10px 5px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	margin-bottom: 10px;
	font-family: var(--font-family)
	}
	
	nav a {
	margin-right: 40px;
	color: var(--primary-color);
	text-decoration: none;
	color: var(--accent1-color);
	}
	
	
	nav a:hover {
	color: var(--accent2-color);
	}
	
	.sociallinks {
	text-decoration: none;
	color: var(--accent1-color);
	align-items: center;
	align-content: center;
	}
	
	.sociallinks img {
	align-content: center;
	
	}
	
	body {
	font-family: var(--font-family);
	
	}
	
	h1 {
	font-size: 30px;
	color: var(--accent1-color);
	font-family: var(--font-family);
    position: relative;
	font-weight: lighter;
	background-color: #917505;
	}
	
	h2 {
	font-size: 24px;
	color: var(--accent1-color);
	font-family: var(--font-family);
	font-weight: bolder;
	}
	
	h3 {
	font-size: 20px;
	color: var(--accent1-color);
	font-family: var(--font-family);
	font-weight: bolder;
	}
	
	p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
	color: var(--accent1-color);
	font-family: var(--font-family);
	}
	
	.hero {
	padding: 100px;
	text-align: justify;
	color: var(--secondary-color);
	position: relative;
	padding: 16px;
	
	}
	
	.hero h1 {
	position: absolute;
	}
	
	
	
	footer {
	background-color: var(--primary-color);
	
	}
	
	.footer p {
	margin-bottom: 20px;
	color: var(--accent1-color);
	font-family: var(--font-family);
	text-align: justify;
	}